<%- include('partials/header'); %>
<h1>クイズページ</h1>
    <p id="question"></p>
    <ul id="answers"></ul>
    <button id="restart-button">restart</button>
    <hr>
    <a href="/">トップページへ</a>

<script src="js/main.js"></script>
<%- include('partials/footer'); %>