<%- include('partials/header'); %>
<h1>クイズページ</h1>
<div id="container">
    <p id="question"></p>
    <ul id="answers">
    </ul>
    <button id="restart-button">restart</button>
    <hr>
    <a href="/">トップページへ</a>

</div>
<script src="js/main.js"></script>
<%- include('partials/footer'); %>